:root {
    --site-highlight: #0b2651;
    --green-100: #bcbd8b;
    --green-200: #717744;
    --green-300: #373d20;

    --button-bg-color: var(--site-highlight);

    --blue-700: #0b2651;

    --grey-50: #f7f7f7;
    --grey-100: #f5f5f5;
    --grey-200: #e5e5e5;
    --grey-300: #d6d6d6;
    --grey-400: #a3a3a3;
    --grey-500: #737373;
    --grey-600: #525252;
    --grey-700: #424242;
    --grey-800: #292929;
    --grey-900: #141414;
    --grey-950: #0f0f0f;
}
