// Table tokens
table {
	--table-font: var(--font-sans);
	--table-font-color: var(--color-text-primary);
	--table-font-desktop-size: var(--ms-step-1);
	--table-font-weight: var(--fw-regular);
	--th-font-weight: 600;

	--table-caption-font-weight: 600;
	--table-caption-bg-color: var(--gray-100);
	--th-bg-color: var(--gray-50);
	--td-border-color: var(--gray-200);
}
