//Imported
@use "custom-properties" as *;
@use "typography" as *;
@use "reset" as *;
@use "hcmc-table" as *;
@use "popover-nav-fullscreen" as *;
@use "page-grid" as *;
@use "cards" as *;


/* Enable automatic cross-page transitions */
@view-transition {
  navigation: auto;
}


//skip link for acessibility
.skip-link {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    padding: 0;
}

.skip-link:focus {
    clip-path: none;
    z-index: 999;
    height: 5rem;
    line-height: 5rem;
    background: white;
    font-size: 1.2rem;
    text-decoration: none;
    color: #1295e6;
    text-align: center;
    width: 100%;
    position: fixed;
}

//screen reader only
.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip-path: inset(50%);
    margin: -1px;
}

//top border on body
html:not(#index) body {
    border-top: 8px solid var(--highlight);
}

#index body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: var(--highlight);
  z-index: 9999;
}

body.splash {
 min-height: 100lvh;
 background:
   linear-gradient(
     180deg,
     #1b91cd 0%,
     rgb(164 215 241 / 0.8) 25%,
     rgb(255 255 255 / 0) 30%
   ),
   linear-gradient(
      0deg,
      #1b91cd 0%,
      rgb(164 215 241 / 0.8) 10%,
      rgb(255 255 255 / 0) 25%
    ),
   url("../images/bg-splash.webp") center center / cover no-repeat;
}

//controls viewport padding and margins, centers main content
#index .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 100%;
    min-height: 100dvh;
    background-color: transparent;
}
.top-logo-container-splash {
  margin-block-start: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 3rem;
  margin-inline: 1rem;
  background: linear-gradient(
    0deg,
    rgba(6, 21, 29, 0) 0%,
    rgba(29, 96, 131, 0.35) 20%,
    rgba(29, 96, 131, 0.5) 50%,
    rgba(6, 21, 29, 0) 100%
  );
  border-radius: 8px;
  
  @media (width >= $desktop-break){
  padding: 3rem;
  margin-block-start: 20vh;
}
}

.logo-splash {
  filter: drop-shadow(0 1px 2px rgba(10, 13, 18, 0.1)) drop-shadow(0 1px 3px rgba(10, 13, 18, 0.1));
  opacity: 1;
}
.splash-header-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & :is(.pre-title, .site-title, .location-one, .location-two, .date, .contact-us) {
    font-family: var(--font-sans-heading);
    color: #fff;
    line-height: 1.5;
    text-shadow: 0 1px 3px rgba(10, 13, 18, 0.10), 0 1px 2px rgba(10, 13, 18, 0.10);
    margin-block-start: 0;
   
  }
  
  & .pre-title {
    font-size: clamp(.8rem, 1rem + 1.2vw, 1.5rem);
    line-height: 1.2;
    font-weight: var(--fw-regular);

  }
  
  & .site-title {
   font-size: clamp(1.75rem, 2.5rem + 2vw, 5rem);
   line-height: 1.2;
  }
  & .location-one {
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);

  }
  & .location-two {
    font-size: clamp(1rem, .9rem + 1vw, 1.25rem);
  }
  & .date {
    font-size: clamp(1rem, .9rem + 1vw, 1.25rem);

  }
  
  & .contact-us {
    margin-block-start: 1rem;
    font-size: clamp(1rem, .9rem + 1vw, 1.25rem);
    text-shadow: none;
    max-width: 55ch;
    text-align: center;
    
    & a {
      color: #fff;
      
      &:is(:hover, :focus-visible) {
        text-decoration: none;
      }
    }
  }
  
  & .button-style {
    margin-block-start: 1.5rem;
    
    &:is(:hover, :focus-visible) {
      color: var(--highlight);
      border: 1px solid var(--highlight);
    }

  }
  
  
  
}

#index footer {
  margin-block-start: auto;
}

#index .popover-nav-items .item {
  color:#fff;
}

html:not(#index) .page-wrapper {
   // padding-inline: 1rem;
    background-color: #fbfbfb;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
}


//splash page bg header color
#index header {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding-block-start: var(--space-3);
    background-color: transparent;
    
    & .item {
      color: #fff;
    }
}

//non splash page header bg color
header {
  background-color: #fff
}

#index  #site-navigation {
  background-color: var(--popover-bg-color);
  @media (width >= $desktop-break){
    background-color: transparent;
}
}

#index .nav-wrapper {
  border-block-end: none;
  justify-content: flex-end;  
  padding-inline: 0;
  @media (width >= $desktop-break) {
  padding-inline: 1rem;
}
}

.mobile-header-splash {
    width: 300px;
    height: auto;

    @media (width >= $desktop-break) {
        display: none;
    }
}

.mobile-header-internal {
    display: block;
    width: 300px;
    height: auto;
}

//header text above menu

.internal-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-end: var(--space-3);
    font-family: var(--font-sans-title);
    color: var(--highlight);
    line-height: var(--lh-tight);
    
    & .site-title {
        font-size: var(--ms-step-9);
        font-weight: var(--fw-bold);
    }
    
    & .location {
        font-size: var(--ms-step-4);
        font-weight: var(--fw-regular);

    }
    
    & .date {
        font-size: var(--ms-step-4);
        font-weight: var(--fw-regular);
    }
}




//blob on brecht splash
.blob {
    --blob-width: min(75dvh, 900px);
    --blob-speed: 24s;

    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: var(--blob-width);
    height: auto;

    display: grid;
    place-items: center;
    margin-block-start: 1.5rem;

    background: #d60000;
    margin-inline: auto;

    border-radius: 42% 58% 61% 39% / 46% 41% 59% 54%;
    animation: blob-morph var(--blob-speed) linear infinite;

    /* inset shadow */
    box-shadow:
        inset 0 0 22px rgba(0, 0, 0, 0.25),
        inset 6px 6px 14px rgba(0, 0, 0, 0.18);

    will-change: border-radius, transform;
}

@keyframes blob-morph {
    0% {
        border-radius: 42% 58% 61% 39% / 46% 41% 59% 54%;
        transform: scale(1);
    }

    13% {
        border-radius: 50% 50% 44% 56% / 38% 62% 45% 55%;
        transform: scale(1.01);
    }

    27% {
        border-radius: 33% 67% 52% 48% / 61% 39% 58% 42%;
        transform: scale(0.985);
    }

    41% {
        border-radius: 62% 38% 47% 53% / 35% 65% 40% 60%;
        transform: scale(1.02);
    }

    58% {
        border-radius: 45% 55% 66% 34% / 58% 42% 63% 37%;
        transform: scale(0.99);
    }

    73% {
        border-radius: 57% 43% 39% 61% / 32% 68% 35% 65%;
        transform: scale(1.015);
    }

    89% {
        border-radius: 48% 52% 60% 40% / 55% 45% 58% 42%;
        transform: scale(0.995);
    }

    100% {
        border-radius: 42% 58% 61% 39% / 46% 41% 59% 54%;
        transform: scale(1);
    }
}

.splash-logo {
    width: 60%;
    height: auto;
}



//about logos
  .page-grid .logo-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: var(--card-shadow);
    
    & .logo {
       height: auto; 
       cursor: pointer;
    }
    
    //logos in order of appearance, magic number widths
    
    & .bc-gov {
      width: 150px
    }
    
    & .csf {
      width: 100px;
    }
    
    & .commons {
      width: 150px;
    }
    
    & .ricard {
      width: 150px;
    }
    
    & .aieq {
        width: 125px;
    }
    
    & .afls {
        width: 100px;
    }
    
    & .accla {
        width: 75px;
    }
    
    & .cefco {
        width: 130px;
    }
    
    & .reseau-franco {
       width: 75px; 
    }
    
    & .uvic {
        width: 290px;
    }
    
    & .patrimoine {
      width: 175px;
    }
    
    & .hcmc {
      width: 150px;
    }
    
    & .humanities {
      width: 200px;
    }
    
    & .logo-stack {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      
      & .logo-stack-text {
        color: var(--text-color);
        font-size: var(--ms-step--3);
      }
      
      & .sshrc {
        width: 100%;
      }
     }
}


//spans that are affiliation of speakers on their individual pages: 
span.affil {
  font-size: var(--ms-step-3);
  font-family: var(--font-sans-heading);
  color: var(--highlight);
  text-align: center;
}


//youtube video

.video-figure {
  width: min(100%, 720px);
  margin-inline: auto;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.video iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}