# Ignore annoying Mac files
.DS_Store

#ignore imageDimensions.txt
utilities/imageDimensions.txt

#Dont track CSS
css/
scss/*.css

#ignore generated template files
templates/

#Ignore sass cache
.sass-cache/

# Ignore source files
src/

# Ignore lib
lib/

#Ignore site
site/

#Ignore image dimensions
utilities/imageDimensions.txt

#Ignore Pat's stuff

.idea/
